{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<h1 class="mb-5">Partages des utilisateurs</h1>
		{% for d in data['tab'] %}
			<div class="media mb-5 p-4 border border-secondary rounded-pill bg-light">
				<img src="{{d.urlToimage}}" height="64" width="64" class="align-self-center mr-3" alt="image de l'article">
				<div class="media-body">
                    <p>Article partagé par {{d.user.username}}</p>
					<a href="{{d.url}}" target="_blank" style=" text-decoration: none; background-color: none; color:black;">
						<h5 class="mt-0">{{d.title}}</h5>
						<p>
							{% autoescape %}
								{{ d.description|raw }}
								{# var won't be escaped #}
							{% endautoescape %}
						</p>
						<p class="mb-0">{{d.author}}</p>
						<p>{{ d.publishedAt|date('d-m-Y H:i') }}</p>
					</a>
				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}